* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
    font-family:  "Inter", sans-serif;
    background-color: black;
}

/* Main section */

main{
    min-height:100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1.2fr 1fr 0.6fr 1.4fr 1.2fr;
    grid-template-rows: 32% 21% 7% 20% 20%;
    grid-template-areas: 
    "left-top top-center1 top-center1 top-center2 right-top"
    "left-top center center center right-top"
    "left-bottom center center center right-top"
    "left-bottom center center center right-bottom"
    "left-bottom bottom-center1 bottom-center2 bottom-center2 right-bottom"
    ;
    gap:10px;
    padding-top: 20px;
    padding:20px 60px;
    padding-bottom: 5px;

}

/* Left Top */


.left-top{
    background-color: rgb(233, 195, 201);
    grid-area: left-top;
    border: 2px solid white;
    border-radius: 20px;
    padding: 15px;
}

.left-top h2 {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.progress{
display:flex;
justify-content:center;
margin:25px 0;
}

.progress img{
width:180px;
height:auto;
display:block;
}

.left-top h1 {
    font-size: 40px;
    font-weight: 600;   
}

.left-top p {
    font-size: 16px;
}

.left-top button {
    cursor: pointer;
    height: 50px;
    font-size: large;
    background-color: rgb(234, 218, 221);
    color: black;
    border-radius: 80px;
    padding: 6px 20px;
    display:block;
    margin:20px auto 0;
    border: none;
}

/* Left Bottom */

.left-bottom { 
    background-color: rgb(24, 23, 23);
    grid-area: left-bottom;
    border: 2px solid white;
    border-radius: 20px;
    padding: 30px;
}

.left-bottom h3{
    color: white;
    text-align: left;
    font-size: 20px;

}

.bs {
    font-size: 20px;
    font-weight: 400;
    color:#efc2c9;
}

.left-bottom span {
    display: flex;
    justify-content: right;
    border-radius: 10px;
    color: azure;
    
}

.portrait img {
    margin-top: 10%;
}

.girls{
display:flex;
gap:10px;
margin-top:20px;
}

.girls img{
width:100px;
height:140px;
object-fit:cover;
border-radius:20px;
margin-top: 15%;
}

/* Top Center 1 */

.top-center1{
    background-color: rgb(243, 227, 229);
    grid-area: top-center1;
    border: 2px solid white;
    border-radius: 20px;
}

.top-center1 {
    padding: 5px 20px;

}

.top {
    display: flex;
    justify-content: space-evenly;
}

.top h2 {
    font-size: 75px;
}

.bottom h3 {
    font-size: 20px; 
    padding: 0 20px;
}

.stats {
    border: 1.5px solid #edbaba;
    border-radius: 25px;
    padding: 10px 10px;
    background: #f6e5e5;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.stats span {
    font-size: 24px;
    font-weight: 600;
    color: rgb(245, 118, 139);
}

.stats p {
    font-size: 20px;
}

/* Top Center 2 */

.top-center2 {
    background-color:  rgb(243, 227, 229);
    grid-area: top-center2;
    border: 2px solid white;
    border-radius: 20px;
}

.card-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-2 button {
    cursor: pointer;
    height: 50px;
    width: 230px;
    font-size: 16px;
    text-align: center;
    border-radius: 25px;
    background-color: rgb(236, 157, 172);
    color: black;
    border: 1px solid whitesmoke;
    margin-left: 10px;
}

.left-bottom img {
    width: 100px;
}

.gth {
  color: rgb(48, 198, 48);
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
}

.contents {
    padding: 10px 20px;
}

.contents span {
  color: #666;
  font-size: 16px;
  margin-top: 10px;
 
}

.old {
    font-size: 30px;
    font-weight: 600;
}

.contents h1 {
    font-size: 60px;
    margin-top: 80px;
}

.icon-2 {
  width: 90px;
  height: 90px;
  background: #f1adb9;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  font-size: 60px;
  padding: 15px;
  margin-top: 160px;
}

/* Center */

.center {
    background-color: rgb(250, 220, 224);
    grid-area: center;
    border: 2px solid white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    position: relative;
}

.center img {
    height: 100%;
}

.image-box{
    position: relative;
    width: 800px;
    height: 578px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.circle{
    position: absolute;
    width: 500px;
    height: 500px;
    background: #f3b3be;
    border-radius: 50%;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.image-box img{
    position: relative;
    z-index: 2;
    width:auto;
}

/* bottom-center1 */

.bottom-center1{
    background-color: rgb(243, 227, 229);
    grid-area: bottom-center1;
    border: 2px solid white;
    border-radius: 20px;
}

.bottom-center1 button{
    margin:20px auto 0;
    cursor: pointer;
    display:block;
    font-size: 15px;
    background-color: white;
    border:#efc2c9;
    border-radius: 20px;
    width: 130px;
    height: 40px;
    align-items: center;
}

.bottom-center1 #e {
    height: 35px;
    width: 35px;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    background-color: pink;
    display: flex;
    margin-left: 230px; 
}

.bottom-center1 {
    padding: 0px 10px;
}

.bottom-center1 span {
    font-size: 15px;
    margin-left: 20px;  
}

.bottom-center1 h4 {
    font-size: 40px;
    font-weight: 600;
    gap: 10px;  
}

.boxs {
    display: flex;
    padding: 10px 20px;
    align-content: center;
    justify-content: space-evenly;
}

#a {
    height: 35px;
    width: 35px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: black;
}

#b {
    height: 35px;
    width: 35px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #666; 
}

#c {
    height: 35px;
    width: 35px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(233, 78, 104);
}

 
#d {
    width: 35px;
    height: 35px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: pink;
}

/* bottom-center2 */

.bottom-center2{
    background-color: rgb(255, 211, 217);
    grid-area: bottom-center2;
    border: 2px solid white;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom-center2-div1{
    padding: 20px;
}

.bottom-center2-div1 h3{
    font-size: 20px;
    font-weight: 600;
}

.bottom-center2-div1 p{
    font-size: 12px;
    font-weight: 500;
    margin-top: 10px;
}

.bottom-center2-div1 button{
    cursor: pointer;
    background-color: black;
    color: white;
    margin-top: 15px;
    border-radius: 50px;
    padding: 10px 20px;
    border: none;
}

.bottom-center2 img{
    height: 90%;
}

/* Right Top */

.right-top{
    background-color:  rgb(243, 227, 229);
    grid-area: right-top;
    border: 2px solid white;
    border-radius: 20px;
    padding: 30px;
}

.right-top p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    font-weight: 600;  
}

.right-top img{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-top:20px;
    margin-left:-15px;
    border: 3px solid white;
}

.right-top hr {
    margin-top: 20px;
}

.card {
  width:100%;
  padding: 15px;
  border-radius: 20px;
  display: flex;
}

.growth {
  color: #666;
  font-size: 10px;
}

.content span {
  font-weight: 600;
  color: rgb(255, 87, 115);
  font-size: 30px;
  margin: 0;
}

.new {
    font-size: 30px;
}
.content h1{
    margin-top: 80px;
}

.icon-box {
  width: 120px;
  height: 80px;
  background: #f8aab7;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  padding: 6px 6px;
  padding-top: 10px;
  margin-top: 100%;
}

.right-top h1 {
    font-size: 75px;
}


/* Right Bottom */

.right-bottom{
    background-color: rgb(243, 227, 229);
    grid-area: right-bottom;
    border: 2px solid white;
    border-radius: 20px;
}

.card-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rb img {
    width: 250px;
    height: 250px; 
}

.rb h1 {
    font-size: 60px;
    text-align: center;
    padding-bottom: 10px;

}

.rb p {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 10px;
}

.card-2 button {
    cursor: pointer;
    height: 50px;
    width: 230px;
    font-size: 16px;
    text-align: center;
    border-radius: 25px;
    background-color: rgb(236, 157, 172);
    color: black;
    border: 1px solid whitesmoke;
    margin-left: 10px;
}

/* Responsive */

@media (max-width:768px){

main{

grid-template-columns:1fr;

grid-template-areas:

"left-top"
"top-center1"
"top-center2"
"center"
"left-bottom"
"bottom-center1"
"bottom-center2"
"right-top"
"right-bottom";

}

}
























 




